# misc
.idea/
**/*.js
**/*.js.map
node_modules/

# build dir
dist/

# system files
.DS_Store

# dotenv vault
!.env.project
.env*
!.env.vault

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
